.header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: var(--double-spacing);
	padding: var(--spacing) var(--double-spacing);
}

.header > a h1 {
	font-size: var(--main-heading-size);
	font-weight: var(--main-heading-weight);
	color: var(--accent-primary);
}

.header > nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: var(--spacing);
	margin-left: auto;
}
