:root {
	--background-primary: #4d4c51;
	--background-secondary: #50535a;
	--accent-primary: #e0f33a;
	--accent-secondary: #e0f33a;
	--text-primary: #ffffff;
	--text-secondary: #c0c0c0;
	--success: #45b559;
	--error: #f33a3a;

	/* Headings Font Styles */
	--main-heading-size: clamp(1.5rem, 1.75rem, 2.25rem);
	--main-heading-weight: 700;
	--sub-heading-size: clamp(1.25rem, 1.5rem, 2rem);
	--sub-heading-weight: 700;
	/* Titles Font Styles */
	--main-title-size: clamp(1rem, 1.25rem, 1.5rem);
	--main-title-weight: 600;
	--sub-title-size: clamp(0.8rem, 1rem, 1.25rem);
	--sub-title-weight: 600;
	/* Labels Font Styles */
	--main-label-size: clamp(0.8rem, 1rem, 1.25rem);
	--main-label-weight: 500;
	--sub-label-size: clamp(0.6rem, 0.8rem, 1rem);
	--sub-label-weight: 500;
	/* Texts Font Styles */
	--main-text-size: clamp(0.8rem, 1rem, 1.25rem);
	--main-text-weight: 400;
	--sub-text-size: clamp(0.7rem, 0.8rem, 1rem);
	--sub-text-weight: 400;

	/* Spacing Units */
	--spacing: 0.75rem;
	--double-spacing: 1.5rem;
	--half-spacing: 0.375rem;
	--border-radius: 0.375rem;
	--circular-border-radius: 10rem;
}
