.search-bar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: var(--half-spacing);
	border-radius: var(--border-radius);
	background-color: var(--background-secondary);
	overflow: hidden;
}

.search-bar > input {
	all: unset;
	min-width: 25ch;
	color: var(--text-primary);
	font-size: var(--sub-label-size);
	font-weight: var(--sub-label-weight);
	padding-left: var(--spacing);
}

.search-bar > input::placeholder {
	color: var(--text-secondary);
}

.search-bar > button {
	border-radius: 0;
}
